.addContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.addContainer .icon {
  font-size: 5em;
  color: #000;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: red;
  padding: 5px;
  background-color: #fff;
}

@media (max-width: 600px) {
  .addContainer {
    display: block;
  }

  .addContainer .icon {
    font-size: 4em;
    padding: 6px;
  }
}
