.loginContainer {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 
 .loginContent {
	background-color: #252525;
	border-radius: 5px;
	width: 23%;
	height: auto;
	box-shadow: 0px 0px 0px 10000000px rgba(0, 0, 0, 0.9);
 }
 
 .closeIcon {
	display: grid;
	grid-template-columns: 1fr auto;
 }
 
 .closeIcon .iconArrow {
	margin: 20px;
	border-radius: 50%;
	color: #fff;
	padding: 4px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
 }
 
 .closeIcon .icon {
	margin: 20px;
	background-color: #868686;
	border-radius: 50%;
	color: #fff;
	padding: 4px;
	font-size: 30px;
	filter: brightness(80%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
 }
 
 .loginFormContent {
	width: 80%;
	margin: 0 auto;
 }
 
 .loginHeader {
	display: flex;
	justify-content: center;
	align-items: center;
 }
 
 .loginHeader h1 {
	font-size: 25px;
	color: #fff;
	font-family: sans-serif;
 }
 
 .loginForm {
	margin-top: 20px;
 }
 
 .loginForm .inputField {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 30px;
 }
 
 .loginForm .inputField label {
	color: #d4d4d4;
	font-family: sans-serif;
 }
 
 .loginForm .inputField input {
	background-color: #3f3f3f;
	color: #d4d4d4;
	border: none;
	width: 100%;
	height: 50px;
	padding-left: 10px;
	border-radius: 5px;
	font-family: sans-serif;
	margin-top: 6px;
 }
 
 .forgetPassword {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 50px;
 }
 
 .forgetPassword p {
	color: #f85a40;
	font-family: sans-serif;
	cursor: pointer;
 }
 
 .loginButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
 }
 
 .loginButton button {
	width: 100%;
	height: 50px;
	background-color: #3f3f3f;
	border: none;
	border-radius: 5px;
	color: #868686;
	font-size: 17px;
	cursor: pointer;
 }
 
 .createAccount {
	margin-top: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
 }
 
 .createAccount p {
	color: #d4d4d4;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 100;
 }
 
 .createAccount p:nth-child(2) {
	color: red;
	margin-left: 10px;
	cursor: pointer;
 }
 
 .loadingContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
 }
 
 @media(max-width:600px) {
	.loginContent {
	   width: 85%;
	   height: auto;
	}
 
	.closeIcon .iconArrow {
	   margin: 20px;
	   font-size: 25px;
	}
 
	.closeIcon .icon {
	   margin: 20px;
	   font-size: 25px;
	}
 
	.loginFormContent {
	   width: 88%;
	}
 
	.loginHeader h1 {
	   font-size: 18px;
	   text-align: center;
	}
 
	.loginForm {
	   margin-top: 20px;
	}
 
	.loginForm .inputField {
	   margin-top: 20px;
	}
 
	.loginForm .inputField label {
	   font-size: 14px;
	}
 
	.loginForm .inputField input {
	   height: 45px;
	   margin-top: 4px;
	}
 
	.forgetPassword {
	   margin-top: 40px;
	}
 
	.forgetPassword p {
	   font-size: 14px;
	}
 
	.loginButton {
	   margin-top: 10px;
	}
 
	.loginButton button {
	   height: 45px;
	   font-size: 15px;
	}
 
	.createAccount {
	   margin-top: 35px;
	   margin-bottom: 30px;
	}
 
	.createAccount p {
	   font-size: 14px;
	}
 
	.createAccount p:nth-child(2) {
	   color: red;
	   margin-left: 10px;
	   cursor: pointer;
	}
 
 }